<header class="main-header">
  <h1 class="app-title">{{title}}</h1>

  <a href="/" class="header-nav-link">Weather</a>
  <a href="/about" class="header-nav-link">About</a>
  <a href="/help" class="header-nav-link">Help</a>
</header>
